{% extends "base.html" %}

    {% block content %}
    {% load static %}
    <div class="container-fluid">
    <div class="row profile">
            <div class="col-md-3 my-auto offset-md-1">
                <img src="{% static 'images/319.png' %}">
            </div>
            <div class="col-md offset-md-1">
                <p Style="font-size: 50px; font-weight: bold; padding-top: 5%;">About Me <br></p>
                <p Style="font-size: 12.5%; max-width: 60% ">Hi! I’m Giffari Faqih Phrasya Hardani. 
                        i am a computer science major student at the 
                        University of Indonesia. i love learning 
                        new things and am capable of tackling the 
                        problems that comes with it 
                        in a calm and swift manner</p>
            </div> 
            
        </div>
        <div class="row line">
                <div class="col-md-1">
                    <img src="{% static 'images/line blue.png' %}">
                </div>
                <div class="col-md-2">
                    <p>egiffari</p>
                </div>
        
            </div>
            <div class="row email">
                    <div class="col-md-1">
                        <img src="{% static 'images/gmail.png' %}">
                    </div>
                    <div class="col-md-2">
                        <p>egiffari@gmail.com</p>
                    </div>
            
                </div>
            </div>
    {% endblock %}